<a href="https://colab.research.google.com/github/md-darun-nayeem/Python_notes/blob/main/01_python_prc_part_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# use shift + tab into the brackert to get documentation of any function.
print('shift + tab')

In [ ]:
print('Nayeem','Darun','Mirpur',sep='') # using sep parameter it helps to remove space or print anything else
print('Darun','Nayeem','Akash',sep='/')
print('Darun','Nayeem','Akash') # Default space will be printed

NayeemDarunMirpur
Darun/Nayeem/Akash
Darun Nayeem Akash

In [ ]:
# To remove next line
print('ok',end=' ')
print('sir')

ok sir

Python supports 3 data types
1. Basic type(integer,float,complex,boolean and string)
2. Container type(List, tuple, set, dictionary)
3. User-defined types(Class)

In [ ]:
print(1e309)  # can handle till 10^308

inf

In [ ]:
print(1e308)

1e+308

In [ ]:
# Complex number
print(4+5j)

(4+5j)

Dynamic binding
- When we use same variable to store multiple type data
ex-
name = 'Nayeem'
name = True

In [ ]:
# Python keyword list
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

An identifier is a name used to identify a variable, function, class, module or other object.

In [ ]:
input("Tor nam ki bol : ")

Tor nam ki bol : Nayeem

'Nayeem'

In [ ]:
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

print(num1 + num2)

Enter first number : 2
Enter second number : 5
7.0

In [ ]:
# To find out the data type
type(1)
type(5+2j)
type([1,2,5])

list

In [ ]:
name = [1,131,1]
type(name)

list

Type conversion
- implicit (Automatically done )
- explicit (Manual)

In [ ]:
# implicit
num = 2.5 + (4 + 4j)
print(num)

(6.5+4j)

In [ ]:
# explicit
n1 = int(4.5)
print(n1)

n2 = complex(4.5)
print(n2)

n3 = list('Hello')
print(n3)

4
(4.5+0j)
['H', 'e', 'l', 'l', 'o']

Literals : Litrel is a raw data given in a variable.
- Numeric literals
- String literals
- Boolean literals
- Special literals

In [ ]:
# Numeric literals
a = 0b1010 # Binary literals
b = 100 # Decimal literals
c = 0o310 # Octal literals
d = 0x12c # Hexadecimal literals

# Float literals
float_1 = 10.5
float_2 = 1.5e4
float_3 = 1.5e-5

# Complex literal
x = 3.52j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag, x.real)

10 100 200 300
10.5 15000.0 1.5e-05
3.52j 3.52 0.0

In [ ]:
# String literals

string = '''It is the simplest method to let a long string split into different
lines. You will need to enclose it with a pair of Triple quotes,
one at the start and ''' # Multiline string

print(string)

unicode = u'\U0001f600'
raw_string = r'raw \n string' # To use html or other character
print(unicode,raw_string)

It is the simplest method to let a long string split into different
lines. You will need to enclose it with a pair of Triple quotes,
one at the start and
😀 raw \n string

In [ ]:
# Boolean literal

a = True + 4 # 1 + 4 = 5
b = False + 5
print (a,b)

5 5

In [ ]:
# Special literal
# None is used to keep a variable but not to use for that time

a = None # Abscense of anything
print(a)

None