<a href="https://colab.research.google.com/github/md-darun-nayeem/Python_notes/blob/main/03_list_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List is a data type where we can store different types of elements.

List vs Array:
- array is homogenous.We can't store different data type in same array but we can store different data type in same list.
- array is a continuous memory location where list is not.
- array is faster than list.
- list are more programmer frendly

In [ ]:
# 3D list
L = [1,2,3,[2,3,[7,9]]]
type(L)
print(L)

[1, 2, 3, [2, 3, [7, 9]]]

In [ ]:
L1 = list('Nayeem')
L1

['N', 'a', 'y', 'e', 'e', 'm']

In [ ]:
# Finding elements in a 2D list

l2 = [2,5,2,[5,7,3]]
l2[3][0]

5

In [ ]:
name = ['naim','rahim']
name.append('karim')    # append can add just one element.
name

['naim', 'rahim', 'karim']

In [ ]:
names = ['na','ka','ra']
names.extend(['fish','hen'])  # extend can add multiple elements.
names

['na', 'ka', 'ra', 'fish', 'hen']

We can delete items in four method in a list.
- del
- remove
- pop
- clear

In [ ]:
L4 = [2,4,12,56]
for i in L4:
  print(i)

2
4
12
56

In [ ]:
# How to create single item tuple

t = ('naim',)
t
# type(t)

('naim',)

In [ ]:
t2 = tuple('nayeem')
t2

('n', 'a', 'y', 'e', 'e', 'm')

Sets:
- do not allow duplicate
- have no indexing/slicing
- don't allow mutable data type
- set itself is a mutable data type
- we can't edit sets
- we can add item

In [ ]:
s = {'naim',2,4,5}
s

{2, 4, 5, 'naim'}

In [ ]:
# memory address
s2 = {3,5}
id(s2)

132656897291680