<a href="https://colab.research.google.com/github/md-darun-nayeem/Python_notes/blob/main/OOP_recursion_lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pass by value

class Customer:
    def __init__(self,name,gender):
        self.name = name
        self.gender = gender

def greet(customer):
    if customer.gender == 'male':
        print('Hello' , customer.name ,'sir')

    else:
        print("Hello", customer.name , 'mam')

cust = Customer("nayeem","male")
greet(cust)

Hello nayeem sir

In [ ]:
def mul(a,b):
  if b == 1:
    return a
  else:
    return a + mul(a,b-1)
print(mul(3,6))

18

In [ ]:
# Palindrome

def palindrome(text):
  if len(text) <= 1:
    print('Palindrome')
  else:
    if text[0] == text[-1]:
      palindrome(text[1:-1])
    else:
      print('Not a palindrome')

palindrome('madam')
palindrome('dad')
palindrome('python')

Palindrome
Palindrome
Not a palindrome

In [ ]:
# fibonacci series

def fib(m):
  if m==0 or m ==1:
    return 1
  else:
    return fib(m-1) + fib(m-2)

print(fib(5))

8

 Heigher order functions:
 - lambda -->
 - Map  --> works with full list
 - Filter --> works with particular elements in the list
 - Reduce

In [ ]:
# lambda function

x = lambda x: x**2
x(9)

81

In [ ]:
a = lambda x,y: x+y
a(3,4)

7

In [ ]:
b = lambda x: x[0] =='a'
b('dad')
#b('apple')

False

In [ ]:
b = lambda x: 'Even' if x%2 == 0 else 'Odd'
b(3)

'Odd'

In [ ]:


def return_sum(func,L):
  result = 0

  for i in L:

    if func(i):
      result = result + i

    return result

L =[11,14,21,23,56,78,45,29,28]

x = lambda x: x%2 == 0
y = lambda x: x%2!=0
z = lambda x: x%3 == 0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

0
11
0

In [ ]:
# Map
# Double the list values
L = [1,4,5,6]

map(lambda x: x*2,L)

In [ ]:
list(map(lambda x: x*2,L))

[2, 8, 10, 12]

In [ ]:
list(map(lambda x: x%2 == 0,L))

[False, True, False, True]

In [ ]:
# Lambda functions

L = [1,2,3,4,5,6]

list(filter(lambda x: x>4,L))

[5, 6]

In [ ]:
fruits = ['apple','guava','banana', 'mango']

list(filter(lambda fruits: 'e' in fruits,fruits))

['apple']

In [ ]:
# Reduce

import functools

L = [1,2,3,4,5,6]

functools.reduce(lambda x,y: x+y,L)

21

In [ ]:
L1 = [23,43,12,56]

functools.reduce(lambda x,y: x if x>y else y,L1)

56